@import url(./__title/sign__title.css);
@import url(./__input/sign__input.css);
@import url(./__button/sign_button.css);
@import url(./__form/sign__form.css);
@import url(./__link/sign__link.css);

.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 358px;
  padding-bottom: 150px;
}
