.cards {
  margin: 0 auto;
  max-width: 882px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fill, 362px);
  grid-auto-rows: 362px;
  grid-auto-columns: 282px;
  grid-gap: 20px 18px;
  padding: 0 0 50px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .cards {
    padding-bottom: 30px;
  }
}
