.header__exit {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #A9A9A9;
  background: none;
  border: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.header__exit:hover {
  opacity: .6;
  transition: .3s ease-out;
  cursor: pointer;
}

.header__exit:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .header__exit {
    font-size: 14px;
    line-height: 17px;
    height: 18px;
  }
}
