.profile__information {
  display: flex;
  margin-left: 31px;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .profile__information {
    margin: 17px 0 34px 9px;
    justify-content: center;
  }
}
